body {
  background-color: rgb(18, 133, 79);
}

h1 {
  color: whitesmoke; text-align: center; font-size: 3vw;
}

h2 {
  text-align: left; font-size: 1vw; background-color: black; color: whitesmoke;
}

ol {
  list-style-type: number;
  list-style-position: inside;
}

ul{
  list-style-type: disc;
  list-style-position: inside;
}